{% extends "base.html" %}
{% block content %}
<h2>Dashboard</h2>

<p><strong>Usuario:</strong> {{ user.username }}</p>
<p><strong>Rol:</strong> {{ profile.role }}</p>

<hr>

<h4>Acciones rápidas</h4>

<a href="/menu/dishes/" class="btn btn-primary m-1">Gestionar Menú</a>
<a href="/inventory/" class="btn btn-warning m-1">Inventario</a>
<a href="/orders/menu/" class="btn btn-success m-1">Realizar Pedido</a>
<a href="/reservations/" class="btn btn-info m-1">Reservas</a>
<a href="/reports/top-dishes/" class="btn btn-dark m-1">Reportes PDF</a>

{% endblock %}
